@import '../../index.css';

.sign-up-phone-input input {
  height: 56px !important;
  width: 100% !important;
  border: #dedede 1px solid !important;
  border-radius: 6px;
  font-family: 'Aeonik' !important;
  font-weight: 400;
}

.phone-input-drop {
  border-left: 1px;
  border-top: 1px;
  border-bottom: 1px;
  border-style: solid;
  border-color: transparent !important;
}

.phone-input-drop:focus {
  border: 1px solid #e4572e !important;
  outline: 4.5px solid #ffe6dc !important;
  border-radius: 6px;
}

.sign-up-phone-input:focus-within {
  border: 1px solid #e4572e !important;
  outline: 4.5px solid #ffe6dc !important;
  border-radius: 6px;
}

@media screen and (min-width: 768px) {
  .sign-up-phone-input input {
    height: 48px !important;
    width: 100%;
  }
}
